file1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trips">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trip" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="tripid"/>
              <xs:element type="xs:string" name="vehicle"/>
              <xs:element type="xs:string" name="from"/>
              <xs:element type="xs:string" name="to"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>